{% extends "courses/base_course.html" %}
{% load i18n compress %}

{% block extraheader %}
<script type="text/javascript" src="{{ STATIC_URL }}drglearning/postmessage.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}drglearning/drglearning.js"></script>
{% endblock %}

{% block nav-course-drglearning %}class="active"{% endblock %}

{% block mainclass %}drglearning{% endblock %}

{% block content %}
    <h1>{{ course.name }}</h1>
    <div class="row">
      <div class="span8">
          <div class="box" id="iframe-container">
            <h2 id="career-title">{% trans "Loading..." %}</h2>
            <input id="drglearning-host" type="hidden" value="{{ drglearning_host }}"/>
            <input id="career-url" type="hidden" value="{{ drglearning_embed_url }}" />
            <input id="player-code" type="hidden" value="{{ player.code }}" />
            <iframe id="career-iframe" style="width:590px;height:400px" frameborder="0"></iframe>
         </div>
      </div>
      <div class="span4">
        <div class="box">
          <h2>{% trans "Games" %}</h2>
          {% for career in careers %}
            <a href="javascript:void();" data-career-id="{{ career.career_id }}" class="btn large primary career-id">{{ career.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
